.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    .imgCard {
        border-radius: 10px;
        height: 280px;
        max-height: 280px;
        width: 200px;
        max-width: 200px;
        background-color: $light-gray;
    }

    .infoCard {
        display: flex;
        flex-direction: column;
        color: $white;
        .title {
            font-size: $normal;            
            font-family: 600;
        }
        .releaseYear {
            font-size: 10px;            
        }

        .moreInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .runtime, .rating {
                font-size: 10px;
            }
        }
    }
}