.container {
    width: 80vw;
    height: auto;
    margin: auto;

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 32px;
        .logo {
            height: 64px;
            width: 64px;
            color: $primary;
        }

        .subnavbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .item {
                margin-left: 62px;
                border-bottom: 2px solid transparent;
                transition: 150ms ease-in;
                font-size: $item;
                color: $white;
                cursor: pointer;
                &:hover {
                    transition: 150ms ease-out;
                    border-bottom: 2px solid $danger;
                }
            }
        }


    }
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $white;
    height: 32px;
    border-radius: 4px;            
    .searchInput, .searchIcon {
        cursor: pointer;
    }
    .searchInput {
        border: none;
        color: $dark-gray;
        font-weight: 600;
        font-size: $normal;
        width: 164px;
        background-color: $dark-gray;
        &:focus {
            border-bottom: 2px solid lighten($color: $dark-gray, $amount: 10);
            outline: none;
        }
    }
    .searchIcon {
        margin-right: 4px;
        color: $white;
    }
}        