.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #A64942;
    
    .tagText {
        font-size: $normal;
        padding: 4px;        
    }
}