.tag {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #A64942;
    margin-right: 40px;
    .tagText {
        font-size: $normal;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 12px;
        padding-right: 12px;
    }
    
}