
$primary: #38939A;
$white: #FAEEDC;
$danger:    #C9162A;
$dark-blue: #2563EB;
$light-blue: #60A5FA;
$light-gray: #9CA3AF;
$dark-gray: #252629;
$secondary: #FF7844;
$purple: #53354A;

$primary-background: #212434;

$normal: 16px;
$title: 42px;
$large-title: 68px;
$item: 26px;